*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
  }

  html{
      font-size: 62.5%;
  }

  h1{
      font-size: 6.8rem;
      font-family: 'Oxygen', sans-serif;
  }

  h2{
      font-size: 4.8rem;
      font-family: 'Oxygen', sans-serif;
  }

  p{
    font-family: 'Source Sans Pro', sans-serif;
  }

  header{
      /* border: 1px solid red; */
      height: 100vh;
      background-image: url("Images/hero-image.svg");
      background-color: white;
      background-position: right top;
      background-repeat: no-repeat;
      background-size: 60%;
      padding-bottom: 60%;
  }

  .navigation-logo{
      width: 90%;
      padding: 2% 0;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      /* padding-right: 15%; */
  }

  .logo{
      /* border: 1px solid red; */
      display: flex;
      width: 15%;
      justify-content: space-between;
      align-items: center;

  }

  .logo h2{
    font-family: 'Alegreya', serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }

  nav{
      /* border: 1px solid red; */
      width: 53%;
      padding: 8px 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }

  nav a{
    /* border: 1px solid red; */
    font-family: Oxygen;
    font-size: 1.8rem;
    line-height: 23px;
    text-decoration: none;
    text-align: center;
    width: 15%;
    color: black;
  }

  nav a:last-of-type{
      /* border: 1px solid red; */
      padding: 2% 2%;
      background: #FFD33A;
      border-radius: 2px;
  }

  .hero-text{
      /* border: 1px solid red; */
      width: 40%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 5%;
  }

  .hero-text h1{
    /* border: 1px solid red; */
    width: 432px;
    line-height: 84px;
    font-weight: 700;
   
  }

  .hero-text h2{
    font-size: 4.8rem;
    font-weight: normal;
    height: 60px;
    color: #A3CF4D;
  }

  .hero-text p{
    /* border: 1px solid red; */
    width: 450px;
    /* height: 120px; */
    font-size: 2.4rem;
    line-height: 30px;
    padding: 3% 0;

  }

  button{
    border: none;
    padding: 2%;
    width: 259px;
    height: 62px;
    background: #FFD33A;
    border-radius: 8px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #261C52;
    }

    .feature-list{
        /* border: 1px solid red; */
        height: 55vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background: #261C52;
        padding: 0 10%;
    }

    .feature{
        /* border: 1px solid red; */
        width: 329px;
        height: 352px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: #FFFEFE;
        border-radius: 8px;
        padding: 2%;
    }

    .feature h3{
        /* padding: 2%; */
        /* width: 180px; */
        height: 30px;
        font-family: Oxygen;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 30px;
    }

    .feature p{
        width: 265px;
        height: 69px;
        font-size: 1.8rem;
        line-height: 23px;
        /* padding: 2%; */
    }

    .feature-detail{
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .detail-information h2{
        width: 541px;
        font-weight: 700;
        font-size: 4.8rem;
        line-height: 61px;
        color:black;
        padding: 2% 0;
    }

    .detail-information p{
        width: 444px;
        font-weight: normal;
        font-size: 2.4rem;
        line-height: 30px;
        color:black;
        padding: 2% 0;
    }

    .text-button{
        color: #A3CF4D;
        text-decoration: none;
    }


    footer{
        height: 30vh;
        width: 90%;
        margin: 0 auto;
        border-top: 3px solid rgba(38, 28, 82, 0.3);
        display: flex;
        /* justify-content: space-around; */
        /* padding: 2% 0; */
    }

    footer .general{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 15%;
        height: 25vh;
        padding: 2% 0%;
    }

    .footer-logo .bottom{
        /* border: 1px solid red; */
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .footer-logo .bottom p{
        font-family: 'Alegreya', serif;
        font-size: 2.0rem;
    }


    footer .general p{
        /* border: 1px solid red; */
        font-family: Oxygen;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 45px;
        /* padding-bottom: 45% 0; */
      }

      .general a{
        /* border: 1px solid red; */
        font-family: Oxygen;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 35px;
        text-decoration: none;
        padding: 2% 0;
        color: black;
      } 

      .footer-logo h4{
        /* border: 1px solid red; */
        font-family: Oxygen;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 23px;
        width: 75%;
        padding: 2% 0;

      }