
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    
    box-sizing:border-box;
    max-width: 100%;

    /* border: 1px solid grey;  */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --------------------STYLING BEGINS HERE----------------------- */

body {
	font-family: 'Livvic', sans-serif;
	font-size: 62.5%;
	margin: 0 auto;
}

.home-page-header {
	height:	80vh;
	width: 100%;
	background-image: url(/Style/photo-of-laptop-beside-smartphone.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

nav {
	background-color: #DFFDFF;
	padding: 3rem 0 1.5rem 0;
}

h1 {
	background-color: #DFFDFF;
	font-family: 'Permanent Marker', cursive;
	color: #D33F49;
	font-size: 2.3rem;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
}

.top-nav-links {
	display: flex;
	width: 800px;
	justify-content: space-between;
	background-color: #DFFDFF;
	font-size: 1rem;
	font-style: italic;
	margin: 0 auto;
	padding: 1rem 4rem 0;
}

.top-nav-links a {
	color: #5E6472;
	letter-spacing: .1rem;
	text-decoration: none;
	font-weight: lighter;
	padding: .5rem 2rem;
}

#header-home-link {
	background-color: #5E6472;
	color: #DFFDFF;
	border-top-right-radius: .5rem;
	border-bottom-left-radius: .5rem;
}

#header-sign-in-link {
	background-color: #5E6472;
	color: #DFFDFF;
	border-top-left-radius: .5rem;
	border-bottom-right-radius: .5rem;
}

.statement-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}

.main-statement {
	text-align: center;
	width: 600px;
	background-color: black;
}

#statement {
	font-size: 1.7rem;
	font-weight: bold;
	color: #D33F49;
	letter-spacing: .2rem;
	padding: 1rem;
	border-bottom: 2px solid gray;
}

#sub-statement {
	font-size: 1.3rem;
	padding: 1rem;
	color: white;
}

/* END HEADER STYLES */


.highlights {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 90%;
	flex-direction: row;
	margin: 1rem auto;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.featured {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 30%;
}

.featured h3 {
	font-size: 1.2rem;
	letter-spacing: .1rem;
}

.featured p {
	font-size: 1rem;
	padding: .5rem .5rem;
	text-align: center;
}

.featured img {
	margin-bottom: .5rem;
}

.highlights img {
	padding 2rem;
}

.button-container {
	display: flex;
	justify-content: center;
}

.lower-button-box{
	display: flex;
	width: 30%;
	justify-content: space-evenly;
}

.lower-button {
	margin: 1rem auto 0;
	padding: .5rem 2rem;
	border-radius: .3rem;
	background-color: #90BEDE;
	font-family: 'Livvic', sans-serif;
	letter-spacing: .2rem;
	font-size: 1rem;
	color: #297373;
	font-weight: bold;
	box-shadow: 5px 10px 8px #888888;
}

#bottom-brand {
	font-family: 'Permanent Marker', cursive;
	font-size: 1.7rem;
	font-weight: bold;
	color: #D33F49;
	text-align: center;
	padding-top: 2rem;
}

/* END FEATURES SECTION STYLES */


footer {
	display: flex;
	justify-content: space-between;
	font-size: 1rem;
	background-color: #DFFDFF;
	height: 18vh;
}

.footer-links {
	display: flex;
	flex-direction: column;
}

.footer-links a {
	color: #5E6472;
	text-decoration: none;
	letter-spacing: .1rem;
	text-align: center;
	padding: .5rem 2rem;
	font-weight: lighter;
}

/* -------------------------CONTACT PAGE STYLES BELOW------------------------------------------ */

.contact-page-header {
	height:	80vh;
	width: 100%;
}

.contact-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}

.main-contact {
	text-align: left;
	width: 700px;
	background-color: white;
}

#support {
	font-size: 1.2rem;
	padding: 1rem;
	border-bottom: 1px solid gray;
}

#support h2 {
	font-size: 1.5rem;
	padding-bottom: .5rem;
	font-weight: bold;
}

#support-center {
	color: #D33F49;
}

#inquiries {
	font-size: 1.2rem;
	padding: 1rem;
}

#inquiries h2 {
	font-size: 1.5rem;
	padding-bottom: .5rem;
	font-weight: bold;
}

#inquiries a {
	color: #D33F49;
}

#got-here h2 {
	text-align: right;
	font-size: 1.5rem;
	padding-bottom: .5rem;
	font-weight: bold;
}

#got-here p {
	text-align: right;
}

/* END CONTACT PAGE STYLES */


/* START MEDIA QUERY AT 800OPX ---------------------------------------*/

@media(max-width: 800px) {
	.top-nav-links {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.main-statement {
		width: 525px;
	}

	.highlights {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
	}

	.featured {
		display: flex;
		flex-direction: column;
		width: 90%;
		padding-top: 1.5rem;
	}

	.featured p {
		padding: .5rem .5rem;
	}

	.lower-button-box{
		display: flex;
		flex-direction: column;
		width: 90%;
		align-items: center;
	}

	footer {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		height: 25vh;
	}	
}

/* END MEDIA QUERY AT 800PX */

/* START MEDIA QUERY AT 500PX ---------------------------------------*/

@media(max-width: 500px) {
	.top-nav-links {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.main-statement {
		width: 450px;
	}

	.main-contact {
		width: 450px;
	}

	.highlights {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
	}

	.featured {
		display: flex;
		flex-direction: column;
		width: 90%;
		padding-top: 1.5rem;
	}

	.lower-button-box{
		display: flex;
		flex-direction: column;
		width: 90%;
		align-items: center;
	}

	footer {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		height: 25vh;
	}	

}




